{% extends 'base.html' %}

{% block contenido %}
<h1 class="titulos">Trabajos en Clase</h1> 
<section>
    <ul class="trabajos">
        <li><a href="/act_listas">Listas</a></li>
        <li><a href="/act_colas">Colas</a></li>
        <li><a href="/act_colascirculares">Cola Circular (y Doblemente Circular)</a></li>
        <li><a href="/act_pilas">Pilas</a></li>
        <li><a href="/act_arboles">Árboles</a></li>
        <li><a href="/act_conjuntos">Conjuntos</a></li>
        <li><a href="/act_tuplas">Tuplas</a></li>
        <li><a href="/act_diccionarios">Diccionarios</a></li>
        <li><a href="/act_grafos">Grafos</a></li>
    </ul>
</section>
{% endblock %}
