{% extends 'base.html' %}

{% block contenido %}
<h1>Trabajos en Clase</h1> 
<nav>
    <ul>
        <li><a href="/act_listas">Listas</a></li>
        <li><a href="/act_colas">Colas</a></li>
        <li><a href="/act_colascirculares">Cola Circular (y Doblemente Circular)</a></li>
        <li><a href="/act_pilas">Pilas</a></li>
        <li><a href="/act_arboles">Arboles</a></li>
        <li><a href="/act_conjuntos">Conjuntos</a></li>
        <li><a href="/act_tuplas">Tuplas</a></li>
        <li><a href="/act_diccionarios">Diccionarios</a></li>
        <li><a href="/act_grafos">Grafos</a></li>
    </ul>
</nav>
{% endblock %}