{% extends 'base.html' %}

{% block contenido %}
   <h1>Listado de Préstamos</h1>

   <table class="prestamos-table"> <!-- Aplica la clase prestamos-table a la tabla -->
      <tr>
         <th>ID Préstamo</th>
         <th>Nombre del Libro</th>
         <th>Usuario</th>
         <th>Fecha Préstamo</th>
         <th>Fecha Devolución</th>
         <th>Acciones</th>
      </tr>
      {% for prestamo in prestamos %}
         <tr>
               <td>{{ prestamo.ID_Prestamo }}</td>
               <td>{{ prestamo.Titulo }}</td>
               <td>{{ prestamo.ID_Usuario }}</td>
               <td>{{ prestamo.Fecha_Prestamo }}</td>
               <td>{{ prestamo.Fecha_Devolucion }}</td>
               <td>
                  {% if prestamo.Fecha_Devolucion == "" %}
                     <form action="/devolucion" method="POST">
                           <input type="hidden" name="id_prestamo" value="{{ prestamo.ID_Prestamo }}">
                           <input type="submit" value="Devolver" class="agregar-btn">
                     </form>
                  {% else %}
                     Préstamo Devuelto
                  {% endif %}
               </td>
         </tr>
      {% endfor %}
   </table>

   <!-- Botón para agregar nuevo préstamo -->
   <button onclick="mostrarFormularioPrestamo()" class="agregar-submit">Agregar Nuevo Préstamo</button>

   <div id="formulario-prestamo" style="display: none;" class="buscar-libro-form">
      <form action="/prestamo" method="POST">
         <h2>Agregar Nuevo Préstamo</h2><br>
         <label for="nom_libros" class="formulario-label">Nombre del Libro:</label>
         <input type="text" list="libros" id="nom_libro" name="nom_libro" class="formulario-input" required/><br>
            <datalist id="libros">
               {% for libro in libros %}
                  <option>{{ libro.Titulo }}</option>
               {% endfor %}
            </datalist>

         <label for="nom_usuarios" class="formulario-label">Nombre de Usuario:</label>
         <input type="text" list="usuarios" id="nom_usuario" name="nom_usuario" class="formulario-input" required/>
            <datalist id="usuarios">
               {% for usuario in usuarios %}
                  <option>{{ usuario.Nombre }}</option>
               {% endfor %}
            </datalist>

         <input type="submit" value="Prestar" class="agregar-submit">
         <button type="button" onclick="cancelarPrestamo()" class="cancelar-btn">Cancelar</button>
      </form>
   </div>


   <script>
      function mostrarFormularioPrestamo() {
         document.getElementById('formulario-prestamo').style.display = 'block';
      }

      function cancelarPrestamo() {
         document.getElementById('formulario-prestamo').style.display = 'none';
      }
   </script>
{% endblock %}