{% extends 'base.html' %}

{% block contenido %}
   <h1>Listado de Préstamos</h1>

   <table class="prestamos-table"> <!-- Aplica la clase prestamos-table a la tabla -->
      <tr>
         <th>ID Préstamo</th>
         <th>Libro</th>
         <th>Usuario</th>
         <th>Fecha Préstamo</th>
         <th>Fecha Devolución</th>
      </tr>
      {% for prestamo in prestamos %}
         <tr>
               <td>{{ prestamo.ID_Prestamo }}</td>
               <td>{{ obtener_titulo_libro(prestamo.ID_Libro) }}</td>
               <td>{{ obtener_nombre_usuario(prestamo.ID_Usuario) }}</td>
               <td>{{ prestamo.Fecha_Prestamo }}</td>
               <td>{{ prestamo.Fecha_Devolucion }}</td>
         </tr>
      {% endfor %}
   </table>

   <!-- Botón para desplegar formulario de préstamo -->
   <button onclick="mostrarFormularioPrestamo()" class="agregar-btn">Realizar Préstamo</button>

   <!-- Formulario de préstamo oculto -->
   <div id="form-prestamo" style="display: none;" class="buscar-libro-form">
      <h2 class="titulo-principal">Realizar Préstamo</h2>
      <form action="/realizar_prestamo" method="POST">
         <label for="libro" class="formulario-label">Libro:</label>
         <select id="libro" name="libro" class="formulario-input">
               {% for libro in libros %}
                  <option value="{{ libro.Titulo }}">{{ libro.Titulo }}</option>
               {% endfor %}
         </select><br>

         <label for="usuario" class="formulario-label">Usuario:</label>
         <select id="usuario" name="usuario" class="formulario-input">
               {% for usuario in usuarios %}
                  <option value="{{ usuario.ID_Usuario }}">{{ usuario.Nombre }} {{ usuario.Apellido }}</option>
               {% endfor %}
         </select><br>

         <label for="fecha_prestamo" class="formulario-label">Fecha Préstamo:</label>
         <input type="date" id="fecha_prestamo" name="fecha_prestamo" required class="formulario-input"><br>

         <label for="fecha_devolucion" class="formulario-label">Fecha Devolución:</label>
         <input type="date" id="fecha_devolucion" name="fecha_devolucion" required class="formulario-input"><br>

         <input type="submit" value="Realizar Préstamo" class="agregar-submit">
         <button type="button" onclick="cancelarPrestamo()" class="cancelar-btn">Cancelar</button>
      </form>
   </div>

   <script>
      function mostrarFormularioPrestamo() {
         document.getElementById('form-prestamo').style.display = 'block';
      }

      function cancelarPrestamo() {
         document.getElementById('form-prestamo').style.display = 'none';
      }
   </script>
{% endblock %}